<%- include('./partials/nav', {flag:flag, lives:lives, level:level, action:'game'}) %>
<!-- section -->
<section class="bg-transparent" id="section-game">
    <div class="position-relative my-5 mx-5 h-75">
        <div class="d-flex justify-content-center align-items-center flex-column h-100">
            <!-- start area-->
            <div class="d-flex align-content-center flex-wrap mb-3" id="start-area">
                <% if (flag) { %>
                    <button class="btn btn-primary btn-lg" id="startGame">
                        START
                    </button>
                    <% } else {%>
                        <form action="/shop" method="get">
                            <% if(msg != "") {%>
                                <p class="text-white"><%= msg  %></p>
                            <% } %>
                            <button class="btn btn-primary btn-lg">Boutique</button>
                        </form>
                    <% } %>
            </div>

            <!-- game area -->
            <div class="d-none d-flex align-content-center flex-wrap mb-3" id="game-card">
                <div class="content content--canvas"></div>
            </div>

            <!-- restart area-->
            <div class="d-none d-flex align-content-center flex-wrap mb-3" id="restart-area">

                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary btn-lg" id="restartGame">
                        RESTART
                    </button>
                </div>

            </div>

            <!-- waiting area-->
            <div class="d-none d-flex align-content-center flex-wrap mb-3" id="waiting-area">

                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary btn-lg" id="nextGame">
                        CONTINUER
                    </button>
                </div>

            </div>

            <!-- notification -->
            <div class="d-none d-flex align-content-center flex-wrap mb-3" id="notification-card">
                <div class="alert text-center fs-5" role="alert" id="notification-message"></div>
            </div>

        </div>
    </div>
</section>






