<div class="container">
    <h2 class="text-white">Boutique</h2>
    <% if(user) { %>
        <h2 class="mt-4">Bienvenue, <%= user %> !</h2>
    <% } %>
    <form action="/game" method="get">
        <button class="btn btn-secondary btn-block mt-2 mb-2">Jouer</button>
    </form>
    <form action="/home" method="post">
        <button class="btn btn-secondary btn-block mt-2 mb-2">Dashboard</button>
    </form>
    <form action="/users/logout" method="post">
        <button class="btn btn-secondary btn-block">Se déconnecter</button>
    </form>
</div>