<%- include('./partials/nav', {flag:flag, lives:lives, level:level, action:'game'}) %>

<!-- section -->
<section class="bg-transparent" id="section-shop">
    <div class="position-relative my-5 mx-5 h-75">
        <div class="container text-white">
            <h2>Boutique</h2>

            <div class="card" style="width: 18rem;">
                <p class="card-text text-black">Jeu : 5 points</p>
                <% if(points >= 5) {%>
                    <form action="/shop" method="post">
                        <button class="btn btn-primary btn-block mt-2 mb-2">Utiliser les points</button>
                    </form>
                <% } %>
                <form action="#" method="post">
                    <button class="btn btn-primary btn-block mt-2 mb-2">Acheter des points</button>
                </form>
            </div>

        </div>
    </div>
</section>