<main class="position-static">
    <div id="navbar" class="position-static">
        <%- include('./partials/nav', {flag:flag, gamesNbr:gamesNbr, lives:lives, level:level, action:'shop'}) %>
    </div>
    <!-- section -->
    <section class="position-static bg-transparent" id="section-shop">
        <div class="container">
            <div class="container text-white">
                <div class="d-flex justify-content-center mb-4">
                    <h2 class="text-light">Boutique</h2>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="card bg-dark p-3" style="width: 18rem;">
                        <p class="card-text text-light fs-6">Points disponibles : <%= points %></p>
                        <p class="card-text text-light fs-6">Jeux disponibles : <%= gamesNbr %></p>
                        <p class="card-text text-light fs-6">Jeu : 5 points</p>
                        <% if(points >= 5) {%>
                            <form action="/shop" method="post">
                                <button class="btn btn-outline-info btn p-2 btn-block mt-2 mb-2">Utiliser les points</button>
                            </form>
                        <% } %>
                        <form action="#" method="">
                            <button class="btn btn-outline-info btn p-2 btn-block mt-2 mb-2">Acheter des points</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



