@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    /*font-size: 100%;*/
    /*font: inherit;*/
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

body {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #08090A;
}

html, body {
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/*body {*/
/*    line-height: 1; }*/

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

nav#navbar {
    background: url('../assets/overlay1296x158.png') no-repeat;
    background-size: 100% 100%;
}

.btn-orbit:hover {
    color: #17a2b8!important;
}

@media (max-width: 768px) {
    nav#navbar {
        background: url('../assets/overlay350x280.png') no-repeat;
        background-size: 100% 100%;
    }
}

.nav .nav-item .nav-link i {
    color: #343a40;
    font-size: 2.2rem;
}

.nav .nav-item .nav-link.active i {
    color: #17a2b8;
    font-size: 2.2rem;
}

.nav .nav-item .nav-link i:hover {
    color: #ffc107;
}

.nav .nav-item .nav-link.active i:hover {
    color: #17a2b8;
}

.alert {
    font-size: 14px!important;
}

/*****************trophy view***********************/
.leaderboard {
    height: 200px
}

.leader .container img {
    max-width: 150px;
}

.crown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.crown svg {
    width: 3rem;
}

.leader:nth-child(1) {
    color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.leader:nth-child(1):after {
    content: '1';
    width: 30px;
    height: 30px;
    background: #ffc500;
    border-radius: 50%;
    position: absolute;
    right: 0;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    font-weight: 700;
}

.crown {
    top: -20%;
}

.crown svg {
    fill: #ffc500;
}

.leader:nth-child(2) {
    color: black;
    position: absolute;
    left: 15%;
    transform: translateX(-15%);
    bottom: -20%;
}

.leader:nth-child(2):after {
    content: '2';
    width: 30px;
    height: 30px;
    background: #d4d4d4;
    border-radius: 50%;
    position: absolute;
    right: 0;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    font-weight: 700;
}

.crown .crown {
    top: -25%;
}

.crown svg {
    fill: #d4d4d4;
}

.leader:nth-child(3) {
    color: black;
    position: absolute;
    left: 85%;
    transform: translateX(-85%);
    bottom: -20%;
}

.leader:nth-child(3):after {
    content: '3';
    width: 30px;
    height: 30px;
    background: #ab6528;
    border-radius: 50%;
    position: absolute;
    right: 0;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    font-weight: 700;
}

.crown {
    top: -25%;
}

.crown svg {
    fill: #ab6528;
}

/*****************game view***********************/
/*.btn-start {*/
/*    position: fixed;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    width: 90%;*/
/*    max-width: 100px;*/
/*    height: 75px;*/
/*    font-family: "Open Sans", sans-serif;*/
/*    transform: translate(-50%, -50%);*/
/*}*/

.squares {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boxes {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 790px;
    height: 180px;
    font-family: "Open Sans", sans-serif;
    transform: translate(-50%, -50%);
}

.box {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 40px 0 65px rgba(212, 197, 186, 0.4);
    padding: 0 80px;
    box-sizing: border-box;
    opacity: 1;
    transform-origin: center;
    transform: scale(1.2, 1.2);
}

.box:nth-child(1), .box:nth-child(2) {
    position: absolute;
}

.box:nth-child(1) {
    left: 3%;
    width: 94%;
}

.box:nth-child(2) {
    left: 2%;
    width: 96%;
}

.progress__bar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.bar {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #e8dfd8;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.bar__fill {
    display: block;
    background: #17a2b8;
    height: 100%;
}

.point {
    position: relative;
    color: #ac9585;
    cursor: pointer;
}

.point:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.show-radius .point:before {
    background: rgba(0, 0, 0, 0.1);
}

.point--complete, .point--active {
    color: #17a2b8;
}

.bullet {
    z-index: 1;
    position: relative;
    background: #ac9585;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    transition: 0.3s ease;
}

.point--complete .bullet, .point--active .bullet {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 0 6px #17a2b8;
}

.point--active .bullet {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 0 10px #17a2b8;
}

.label {
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 20px 0 0 0;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    transform: translate(-50%, 0);
}

.radius-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
    background: #fff;
    border: 0;
    border-radius: 4px;
    box-shadow: 40px 0 65px rgba(212, 197, 186, 0.4);
    padding: 10px;
    color: #ab6528;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .leader .container img {
        max-width: 100px;
    }
}

/********************************chatbox********************************************/
.chat-box {
    height: auto;
    width: 400px;
    /*position: absolute;
    margin: 0 auto;*/
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 115;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.005);
    right: 5px;
    bottom: 5px;
    /*margin: 15px;*/
    background: #fff;
    border-radius: 15px;
    /*visibility: hidden;*/
}
.chat-box-header {
    height: 38px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    font-size: 14px;
    /*padding: 0.5em 0;*/
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    box-shadow: 0 0 3px rgba(0, 0, 0, .2), 0 -1px 10px rgba(172, 54, 195, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.025);
}
.chat-box-header h3 {
    font-weight: 400;
    float: left;
    position: absolute;
    left: 25px;
}
.chat-box-header p {
    /*float: right;
    position: absolute;*/
    right: 16px;
    cursor: pointer;
    /*height: 50px;*/
    /*width: 50px;*/
    text-align: center;
    line-height: 3.25;
    margin: 0;
}
.chat-box-body {
    height: auto;
    background: #f8f8f8;
    overflow-y: scroll;
    padding: 12px;
}
.chat-box-body-send {
    /*width: 250px;*/
    width:auto;
    /*float: right;*/
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .015);
    margin-bottom: 14px;
}
.chat-box-body-send p {
    /*margin: 0;*/
    color: #444;
    font-size: 14px;
    margin-bottom: 0.25rem;
}
.chat-box-body-send span {
    float: right;
    color: #777;
    font-size: 10px;
}
.chat-box-body-receive {
    width: 250px;
    float: left;
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .015);
    margin-bottom: 14px;
}
.chat-box-body-receive p {
    /*margin: 0;*/
    color: #444;
    font-size: 14px;
    margin-bottom: 0.25rem;
}
.chat-box-body-receive span {
    float: right;
    color: #777;
    font-size: 10px;
}
.chat-box-body::-webkit-scrollbar {
    width: 5px;
    opacity: 0;
}
.chat-box-footer {
    position: relative;
    display: flex;

}
.chat-box-footer button {
    border: none;
    padding: 16px;
    font-size: 14px;
    background: white;
    cursor: pointer;
}
.chat-box-footer button:focus {
    outline: none;
}
.chat-box-footer input {
    padding: 10px;
    border: none;
    -webkit-appearance: none;
    border-radius: 50px;
    background: whitesmoke;
    margin: 10px;
    font-weight: 600;
    color: #444;
    flex:1;
}
.chat-box-footer input:focus {
    outline: none;
}
.chat-box-footer .send {
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    /*transform: translate(0px, 20px);*/
    cursor: pointer;
    padding: 0 5px 0 0;
}
.chat-button {
    padding: 15px 16px;
    /*background: #2c50ef;*/
    background:#fff;
    width: 150px;
    /*position: absolute;*/
    bottom: 0;
    right: 0;
    margin: 15px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 2px 15px rgba(44, 80, 239, .21);
    cursor: pointer;
    z-index: 100;
}
.chat-button span::before {
     /*content: "Message Us";
     font-size: 14px;
     color: white;
     */
     background-image: url('../assets/bot.png');
     position: absolute;
     left: 50px;
     top: 18px;
 }
.chat-button span::after {
    content: '';
    height: 15px;
    width: 15px;
    background: #47cf73;
    position: absolute;
    transform: translate(0, -7px);
    border-radius: 15px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.modal-close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover{
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    z-index: 130;
}
button .send:hover {
    color: darkgray;
}

@media screen and (max-width: 768px) {
    .chat-box {
        min-width: 100% !important;
        width:auto;
        display:block;
        position: relative;
        right: 0;
        bottom: 0;
    }
    .chat-button {
        position: relative;
    }
}